
NET "CLK_AB_P" TNM_NET = CLK_AB_P;
TIMESPEC TS_CLK_AB_P = PERIOD "CLK_AB_P" 245.76 MHz HIGH 50%;

NET "CLK_AB_P" CLOCK_DEDICATED_ROUTE = FALSE;

################################################################################
# FMC signals (FMC150 on KC705, LPC site)
################################################################################
NET "ADC_N_EN"     LOC="AC22" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA16_P
NET "ADC_RESET"    LOC="AD24" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA15_N
NET "ADC_SDO"      LOC="AC24" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA15_P
NET "CDCE_N_EN"    LOC="AB29" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA30_P
NET "CDCE_N_PD"    LOC="AE29" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA31_N
NET "CDCE_N_RESET" LOC="AD29" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA31_P
NET "CDCE_SDO"     LOC="AB30" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA30_N
NET "ADC_CHA_N<0>" LOC="AF23" | IOSTANDARD=LVDS_25; # FMC_LPC_LA01_CC_N
NET "ADC_CHA_N<1>" LOC="AF21" | IOSTANDARD=LVDS_25; # FMC_LPC_LA02_N
NET "ADC_CHA_N<2>" LOC="AH20" | IOSTANDARD=LVDS_25; # FMC_LPC_LA03_N
NET "ADC_CHA_N<3>" LOC="AJ21" | IOSTANDARD=LVDS_25; # FMC_LPC_LA04_N
NET "ADC_CHA_N<4>" LOC="AH22" | IOSTANDARD=LVDS_25; # FMC_LPC_LA05_N
NET "ADC_CHA_N<5>" LOC="AK21" | IOSTANDARD=LVDS_25; # FMC_LPC_LA06_N
NET "ADC_CHA_N<6>" LOC="AH25" | IOSTANDARD=LVDS_25; # FMC_LPC_LA07_N
NET "ADC_CHA_P<0>" LOC="AE23" | IOSTANDARD=LVDS_25; # FMC_LPC_LA01_CC_P
NET "ADC_CHA_P<1>" LOC="AF20" | IOSTANDARD=LVDS_25; # FMC_LPC_LA02_P
NET "ADC_CHA_P<2>" LOC="AG20" | IOSTANDARD=LVDS_25; # FMC_LPC_LA03_P
NET "ADC_CHA_P<3>" LOC="AH21" | IOSTANDARD=LVDS_25; # FMC_LPC_LA04_P
NET "ADC_CHA_P<4>" LOC="AG22" | IOSTANDARD=LVDS_25; # FMC_LPC_LA05_P
NET "ADC_CHA_P<5>" LOC="AK20" | IOSTANDARD=LVDS_25; # FMC_LPC_LA06_P
NET "ADC_CHA_P<6>" LOC="AG25" | IOSTANDARD=LVDS_25; # FMC_LPC_LA07_P
NET "ADC_CHB_N<0>" LOC="AJ23" | IOSTANDARD=LVDS_25; # FMC_LPC_LA08_N
NET "ADC_CHB_N<1>" LOC="AK24" | IOSTANDARD=LVDS_25; # FMC_LPC_LA09_N
NET "ADC_CHB_N<2>" LOC="AK25" | IOSTANDARD=LVDS_25; # FMC_LPC_LA10_N
NET "ADC_CHB_N<3>" LOC="AF25" | IOSTANDARD=LVDS_25; # FMC_LPC_LA11_N
NET "ADC_CHB_N<4>" LOC="AB20" | IOSTANDARD=LVDS_25; # FMC_LPC_LA12_N
NET "ADC_CHB_N<5>" LOC="AC25" | IOSTANDARD=LVDS_25; # FMC_LPC_LA13_N
NET "ADC_CHB_N<6>" LOC="AE21" | IOSTANDARD=LVDS_25; # FMC_LPC_LA14_N
NET "ADC_CHB_P<0>" LOC="AJ22" | IOSTANDARD=LVDS_25; # FMC_LPC_LA08_P
NET "ADC_CHB_P<1>" LOC="AK23" | IOSTANDARD=LVDS_25; # FMC_LPC_LA09_P
NET "ADC_CHB_P<2>" LOC="AJ24" | IOSTANDARD=LVDS_25; # FMC_LPC_LA10_P
NET "ADC_CHB_P<3>" LOC="AE25" | IOSTANDARD=LVDS_25; # FMC_LPC_LA11_P
NET "ADC_CHB_P<4>" LOC="AA20" | IOSTANDARD=LVDS_25; # FMC_LPC_LA12_P
NET "ADC_CHB_P<5>" LOC="AB24" | IOSTANDARD=LVDS_25; # FMC_LPC_LA13_P
NET "ADC_CHB_P<6>" LOC="AD21" | IOSTANDARD=LVDS_25; # FMC_LPC_LA14_P
NET "CLK_AB_N" LOC="AE24" | IOSTANDARD=LVDS_25; # FMC_LPC_LA00_CC_N
NET "CLK_AB_P" LOC="AD23" | IOSTANDARD=LVDS_25; # FMC_LPC_LA00_CC_P
#NET "CLK_TO_FPGA_N" LOC="B10";
#NET "CLK_TO_FPGA_P" LOC="A10";
NET "DAC_DATA_N<0>" LOC="AK30" | IOSTANDARD=LVDS_25; # FMC_LPC_LA26_N
NET "DAC_DATA_N<1>" LOC="AD26" | IOSTANDARD=LVDS_25; # FMC_LPC_LA25_N
NET "DAC_DATA_N<2>" LOC="AH30" | IOSTANDARD=LVDS_25; # FMC_LPC_LA24_N
NET "DAC_DATA_N<3>" LOC="AH27" | IOSTANDARD=LVDS_25; # FMC_LPC_LA23_N
NET "DAC_DATA_N<4>" LOC="AF27" | IOSTANDARD=LVDS_25; # FMC_LPC_LA20_N
NET "DAC_DATA_N<5>" LOC="AK26" | IOSTANDARD=LVDS_25; # FMC_LPC_LA19_N
NET "DAC_DATA_N<6>" LOC="AD28" | IOSTANDARD=LVDS_25; # FMC_LPC_LA18_CC_N
NET "DAC_DATA_N<7>" LOC="AC27" | IOSTANDARD=LVDS_25; # FMC_LPC_LA17_CC_N
NET "DAC_DATA_P<0>" LOC="AK29" | IOSTANDARD=LVDS_25; # FMC_LPC_LA26_P
NET "DAC_DATA_P<1>" LOC="AC26" | IOSTANDARD=LVDS_25; # FMC_LPC_LA25_P
NET "DAC_DATA_P<2>" LOC="AG30" | IOSTANDARD=LVDS_25; # FMC_LPC_LA24_P
NET "DAC_DATA_P<3>" LOC="AH26" | IOSTANDARD=LVDS_25; # FMC_LPC_LA23_P
NET "DAC_DATA_P<4>" LOC="AF26" | IOSTANDARD=LVDS_25; # FMC_LPC_LA20_P
NET "DAC_DATA_P<5>" LOC="AJ26" | IOSTANDARD=LVDS_25; # FMC_LPC_LA19_P
NET "DAC_DATA_P<6>" LOC="AD27" | IOSTANDARD=LVDS_25; # FMC_LPC_LA18_CC_P
NET "DAC_DATA_P<7>" LOC="AB27" | IOSTANDARD=LVDS_25; # FMC_LPC_LA17_CC_P
NET "DAC_DCLK_N"  LOC="AG28" | IOSTANDARD=LVDS_25; # FMC_LPC_LA21_N
NET "DAC_DCLK_P"  LOC="AG27" | IOSTANDARD=LVDS_25; # FMC_LPC_LA21_P
NET "DAC_FRAME_N" LOC="AK28" | IOSTANDARD=LVDS_25; # FMC_LPC_LA22_N
NET "DAC_FRAME_P" LOC="AJ27" | IOSTANDARD=LVDS_25; # FMC_LPC_LA22_P
NET "DAC_N_EN" LOC="AE30" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA28_P
NET "DAC_SDO"  LOC="AF30" | IOSTANDARD=LVCMOS25; # FMC_LPC_LA28_N
#NET "EXT_TRIGGER_N" LOC="G33";
#NET "EXT_TRIGGER_P" LOC="F33";
NET "MON_N_EN"    LOC="AJ28" | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA27_P
NET "MON_N_INT"   LOC="AA30" | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA32_N
NET "MON_N_RESET" LOC="AJ29" | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA27_N
NET "MON_SDO"     LOC="Y30"  | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA32_P
NET "PLL_STATUS"  LOC="AC30" | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA33_N
NET "PRSNT_M2C_L" LOC="J22"  | IOSTANDARD=LVCMOS25;   # FMC_LPC_PRSNT_M2C_L
NET "REF_EN"      LOC="AC29" | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA33_P
NET "SPI_SCLK"    LOC="AE28" | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA29_P
NET "SPI_SDATA"   LOC="AF28" | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA29_N
NET "TXENABLE"    LOC="AD22" | IOSTANDARD=LVCMOS25;   # FMC_LPC_LA16_N

INST "adc_cha_p<0>" TNM = ADC_data_pins;
INST "adc_cha_p<1>" TNM = ADC_data_pins;
INST "adc_cha_p<2>" TNM = ADC_data_pins;
INST "adc_cha_p<3>" TNM = ADC_data_pins;
INST "adc_cha_p<4>" TNM = ADC_data_pins;
INST "adc_cha_p<5>" TNM = ADC_data_pins;
INST "adc_cha_p<6>" TNM = ADC_data_pins;
INST "adc_cha_n<0>" TNM = ADC_data_pins;
INST "adc_cha_n<1>" TNM = ADC_data_pins;
INST "adc_cha_n<2>" TNM = ADC_data_pins;
INST "adc_cha_n<3>" TNM = ADC_data_pins;
INST "adc_cha_n<4>" TNM = ADC_data_pins;
INST "adc_cha_n<5>" TNM = ADC_data_pins;
INST "adc_cha_n<6>" TNM = ADC_data_pins;
INST "adc_chb_p<0>" TNM = ADC_data_pins;
INST "adc_chb_p<1>" TNM = ADC_data_pins;
INST "adc_chb_p<2>" TNM = ADC_data_pins;
INST "adc_chb_p<3>" TNM = ADC_data_pins;
INST "adc_chb_p<4>" TNM = ADC_data_pins;
INST "adc_chb_p<5>" TNM = ADC_data_pins;
INST "adc_chb_p<6>" TNM = ADC_data_pins;
INST "adc_chb_n<0>" TNM = ADC_data_pins;
INST "adc_chb_n<1>" TNM = ADC_data_pins;
INST "adc_chb_n<2>" TNM = ADC_data_pins;
INST "adc_chb_n<3>" TNM = ADC_data_pins;
INST "adc_chb_n<4>" TNM = ADC_data_pins;
INST "adc_chb_n<5>" TNM = ADC_data_pins;
INST "adc_chb_n<6>" TNM = ADC_data_pins;
#TIMEGRP "ADC_data_pins" OFFSET = IN 1 ns VALID 2 ns BEFORE "CLK_AB_P" RISING;
#TIMEGRP "ADC_data_pins" OFFSET = IN 1 ns VALID 2 ns BEFORE "CLK_AB_P" FALLING;

######################################################################
######################################################################
######################################################################

NET "RESET" LOC = AB7 | IOSTANDARD=LVCMOS15;    ## CPU_RESET, SW7

NET "SYSCLK_P" LOC = AD12 | IOSTANDARD=LVDS; 
NET "SYSCLK_N" LOC = AD11 | IOSTANDARD=LVDS; 

NET "GEPHY0_MDC"  LOC = R23 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_MDIO" LOC = J21 | IOSTANDARD=LVCMOS25;

NET "GEPHY0_MAC_CLK_P" LOC = G8; ## SGMIICLK_Q0_P
NET "GEPHY0_MAC_CLK_N" LOC = G7; ## SGMIICLK_Q0_N

NET "GEPHY0_RST_N" LOC = L20 | IOSTANDARD=LVCMOS25;  ## PHY_RESET
NET "GEPHY0_COL"   LOC = W19 | IOSTANDARD=LVCMOS25;  ## PHY_COL
NET "GEPHY0_CRS"   LOC = R30 | IOSTANDARD=LVCMOS25;  ## PHY_CRS
NET "GEPHY0_TXCLK" LOC = M28 | IOSTANDARD=LVCMOS25;  ## PHY_TXCLK

NET "GEPHY0_TD[0]" LOC = N27 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_TD[1]" LOC = N25 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_TD[2]" LOC = M29 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_TD[3]" LOC = L28 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_TD[4]" LOC = J26 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_TD[5]" LOC = K26 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_TD[6]" LOC = L30 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_TD[7]" LOC = J28 | IOSTANDARD=LVCMOS25;

NET "GEPHY0_TXEN" LOC = M27 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_TXER" LOC = N29 | IOSTANDARD=LVCMOS25;

NET "GEPHY0_GTXCLK" LOC = K30 | IOSTANDARD=LVCMOS25;

NET "GEPHY0_RD[0]" LOC = U30 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RD[1]" LOC = U25 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RD[2]" LOC = T25 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RD[3]" LOC = U28 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RD[4]" LOC = R19 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RD[5]" LOC = T27 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RD[6]" LOC = T26 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RD[7]" LOC = T28 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RXCLK" LOC = U27 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RXDV"  LOC = R28 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_RXER"  LOC = V26 | IOSTANDARD=LVCMOS25;
NET "GEPHY0_INT_N" LOC = N30 | IOSTANDARD=LVCMOS25; ## PHY_INT

NET "GPIO[0]" LOC = Y29  | IOSTANDARD=LVCMOS25;
NET "GPIO[1]" LOC = W29  | IOSTANDARD=LVCMOS25;
NET "GPIO[2]" LOC = AA28 | IOSTANDARD=LVCMOS25;
NET "GPIO[3]" LOC = Y28  | IOSTANDARD=LVCMOS25;

NET  "LED[0]" LOC = AB8  | IOSTANDARD=LVCMOS15; 
NET  "LED[1]" LOC = AA8  | IOSTANDARD=LVCMOS15; 
NET  "LED[2]" LOC = AC9  | IOSTANDARD=LVCMOS15; 
NET  "LED[3]" LOC = AB9  | IOSTANDARD=LVCMOS15; 
NET  "LED[4]" LOC = AE26 | IOSTANDARD=LVCMOS25; 
NET  "LED[5]" LOC = G19  | IOSTANDARD=LVCMOS25; 
NET  "LED[6]" LOC = E18  | IOSTANDARD=LVCMOS25; 
NET  "LED[7]" LOC = F16  | IOSTANDARD=LVCMOS25; 

##NET "PUSH_SW_C" LOC = G12 | IOSTANDARD=LVCMOS25;

NET "GEPHY0_RXCLK" PERIOD = 8 ns;
NET "GEPHY0_MAC_CLK_P" PERIOD = 8 ns;

NET "SYSCLK_P" PERIOD = 5 ns;

#NET "sys_clk_i" TNM_NET = TNM_sys_clk;
#TIMESPEC "TS_sys_clk" = PERIOD "TNM_sys_clk" 1.25 ns;
          
#NET "clk_ref_i" TNM_NET = TNM_clk_ref;
#TIMESPEC "TS_clk_ref" = PERIOD "TNM_clk_ref" 5 ns ;
          
############## NET - IOSTANDARD ##################

NET "DDR3_DQ[0]" LOC = "AA15" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[1]" LOC = "AA16" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[2]" LOC = "AC14" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[3]" LOC = "AD14" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[4]" LOC = "AA17" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[5]" LOC = "AB15" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[6]" LOC = "AE15" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[7]" LOC = "Y15" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[8]" LOC = "AB19" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[9]" LOC = "AD16" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST; 
NET "DDR3_DQ[10]" LOC = "AC19" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[11]" LOC = "AD17" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[12]" LOC = "AA18" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[13]" LOC = "AB18" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[14]" LOC = "AE18" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[15]" LOC = "AD18" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[16]" LOC = "AG19" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[17]" LOC = "AK19" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[18]" LOC = "AG18" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[19]" LOC = "AF18" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[20]" LOC = "AH19" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[21]" LOC = "AJ19" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[22]" LOC = "AE19" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[23]" LOC = "AD19" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[24]" LOC = "AK16" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[25]" LOC = "AJ17" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[26]" LOC = "AG15" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[27]" LOC = "AF15" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[28]" LOC = "AH17" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[29]" LOC = "AG14" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[30]" LOC = "AH15" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[31]" LOC = "AK15" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[32]" LOC = "AK8" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[33]" LOC = "AK6" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[34]" LOC = "AG7" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[35]" LOC = "AF7" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[36]" LOC = "AF8" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[37]" LOC = "AK4" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[38]" LOC = "AJ8" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[39]" LOC = "AJ6" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[40]" LOC = "AH5" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[41]" LOC = "AH6" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[42]" LOC = "AJ2" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[43]" LOC = "AH2" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[44]" LOC = "AH4" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[45]" LOC = "AJ4" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[46]" LOC = "AK1" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[47]" LOC = "AJ1" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[48]" LOC = "AF1" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[49]" LOC = "AF2" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[50]" LOC = "AE4" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[51]" LOC = "AE3" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[52]" LOC = "AF3" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[53]" LOC = "AF5" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[54]" LOC = "AE1" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[55]" LOC = "AE5" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[56]" LOC = "AC1" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[57]" LOC = "AD3" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[58]" LOC = "AC4" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[59]" LOC = "AC5" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[60]" LOC = "AE6" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[61]" LOC = "AD6" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[62]" LOC = "AC2" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DQ[63]" LOC = "AD4" | IOSTANDARD = SSTL15_T_DCI | VCCAUX_IO = HIGH | SLEW=FAST;

NET "DDR3_ADDR[13]" LOC = "AH11" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[12]" LOC = "AJ11" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[11]" LOC = "AE13" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[10]" LOC = "AF13" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[9]" LOC = "AK14" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[8]" LOC = "AK13" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[7]" LOC = "AH14" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[6]" LOC = "AJ14" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[5]" LOC = "AJ13" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[4]" LOC = "AJ12" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[3]" LOC = "AF12" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[2]" LOC = "AG12" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[1]" LOC = "AG13" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ADDR[0]" LOC = "AH12" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;

NET "DDR3_BA[2]" LOC = "AK9" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_BA[1]" LOC = "AG9" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_BA[0]" LOC = "AH9" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;

NET "DDR3_RAS_N" LOC = "AD9" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_CAS_N" LOC = "AC11" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_WE_N" LOC = "AE9" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_RESET_N" LOC = "AK3" | IOSTANDARD = LVCMOS15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_CKE[0]" LOC = "AF10" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_ODT[0]" LOC = "AD8" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_CS_N[0]" LOC = "AC12" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;

NET "DDR3_DM[0]" LOC = "Y16" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DM[1]" LOC = "AB17" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DM[2]" LOC = "AF17" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DM[3]" LOC = "AE16" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DM[4]" LOC = "AK5" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DM[5]" LOC = "AJ3" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DM[6]" LOC = "AF6" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;
NET "DDR3_DM[7]" LOC = "AC7" | IOSTANDARD = SSTL15 | VCCAUX_IO = HIGH | SLEW=FAST;

NET "DDR3_DQS_P[0]" LOC = "AC16" | IOSTANDARD = DIFF_SSTL15_T_DCI |
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_N[0]" LOC = "AC15" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_P[1]" LOC = "Y19" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_N[1]" LOC = "Y18" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_P[2]" LOC = "AJ18" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_N[2]" LOC = "AK18" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_P[3]" LOC = "AH16" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_N[3]" LOC = "AJ16" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_P[4]" LOC = "AH7" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_N[4]" LOC = "AJ7" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_P[5]" LOC = "AG2" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_N[5]" LOC = "AH1" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_P[6]" LOC = "AG4" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_N[6]" LOC = "AG3" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_P[7]" LOC = "AD2" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;
NET "DDR3_DQS_N[7]" LOC = "AD1" | IOSTANDARD = DIFF_SSTL15_T_DCI | 
VCCAUX_IO = HIGH | SLEW = FAST;

NET "DDR3_CK_P[0]" LOC = "AG10" | IOSTANDARD = DIFF_SSTL15 | VCCAUX_IO = HIGH | 
SLEW = FAST;
NET "DDR3_CK_N[0]" LOC = "AH10" | IOSTANDARD = DIFF_SSTL15 | VCCAUX_IO = HIGH | 
SLEW = FAST;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC = PHASER_OUT_PHY_X1Y3;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC = PHASER_OUT_PHY_X1Y2;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC = PHASER_OUT_PHY_X1Y1;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC = PHASER_OUT_PHY_X1Y0;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC = PHASER_OUT_PHY_X1Y6;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC = PHASER_OUT_PHY_X1Y5;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC = PHASER_OUT_PHY_X1Y4;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC = PHASER_OUT_PHY_X1Y11;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC = PHASER_OUT_PHY_X1Y10;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC = PHASER_OUT_PHY_X1Y9;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC = PHASER_OUT_PHY_X1Y8;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC = PHASER_IN_PHY_X1Y3;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC = PHASER_IN_PHY_X1Y2;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC = PHASER_IN_PHY_X1Y1;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC = PHASER_IN_PHY_X1Y0;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC = PHASER_IN_PHY_X1Y11;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC = PHASER_IN_PHY_X1Y10;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC = PHASER_IN_PHY_X1Y9;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC = PHASER_IN_PHY_X1Y8;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC = OUT_FIFO_X1Y3;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC = OUT_FIFO_X1Y2;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC = OUT_FIFO_X1Y1;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC = OUT_FIFO_X1Y0;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC = OUT_FIFO_X1Y6;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC = OUT_FIFO_X1Y5;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC = OUT_FIFO_X1Y4;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC = OUT_FIFO_X1Y11;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC = OUT_FIFO_X1Y10;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC = OUT_FIFO_X1Y9;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC = OUT_FIFO_X1Y8;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC = IN_FIFO_X1Y3;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/in_fifo_gen.in_fifo" LOC = IN_FIFO_X1Y2;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/in_fifo_gen.in_fifo" LOC = IN_FIFO_X1Y1;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/in_fifo_gen.in_fifo" LOC = IN_FIFO_X1Y0;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC = IN_FIFO_X1Y11;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/in_fifo_gen.in_fifo" LOC = IN_FIFO_X1Y10;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/in_fifo_gen.in_fifo" LOC = IN_FIFO_X1Y9;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/in_fifo_gen.in_fifo" LOC = IN_FIFO_X1Y8;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/phy_control_i" LOC = PHY_CONTROL_X1Y0;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/phy_control_i" LOC = PHY_CONTROL_X1Y1;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phy_control_i" LOC = PHY_CONTROL_X1Y2;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/phaser_ref_i" LOC = PHASER_REF_X1Y0;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/phaser_ref_i" LOC = PHASER_REF_X1Y1;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phaser_ref_i" LOC = PHASER_REF_X1Y2;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC = OLOGIC_X1Y43;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/ddr_byte_group_io/*slave_ts" LOC = OLOGIC_X1Y31;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/ddr_byte_group_io/*slave_ts" LOC = OLOGIC_X1Y19;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/ddr_byte_group_io/*slave_ts" LOC = OLOGIC_X1Y7;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC = OLOGIC_X1Y143;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/ddr_byte_group_io/*slave_ts" LOC = OLOGIC_X1Y131;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/ddr_byte_group_io/*slave_ts" LOC = OLOGIC_X1Y119;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/ddr_byte_group_io/*slave_ts" LOC = OLOGIC_X1Y107;

INST "*/u_ddr3_infrastructure/plle2_i" LOC = PLLE2_ADV_X1Y1;
INST "*/u_ddr3_infrastructure/mmcm_i" LOC = MMCME2_ADV_X1Y1;

NET "*/iserdes_clk" TNM_NET = "TNM_ISERDES_CLK";
INST "*/mc0/mc_read_idle_r" TNM = "TNM_SOURCE_IDLE";
INST "*/input_[?].iserdes_dq_.iserdesdq" TNM = "TNM_DEST_ISERDES";

TIMESPEC "TS_ISERDES_CLOCK" = PERIOD "TNM_ISERDES_CLK" 1250 ps;
TIMESPEC "TS_MULTICYCLEPATH" = FROM "TNM_SOURCE_IDLE" TO "TNM_DEST_ISERDES" TS_ISERDES_CLOCK*6;

INST "*/device_temp_sync_r1*" TNM = "TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC";
TIMESPEC "TS_MULTICYCLEPATH_DEVICE_TEMP_SYNC" = TO "TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC" 20 ns DATAPATHONLY;
 
CONFIG DCI_CASCADE = "33 32 34";

## Usb-RS232 interface
#Net "rs232_dce_rxd" LOC = M19 | IOSTANDARD=LVCMOS25;
#Net "rs232_dce_txd" LOC = K24 | IOSTANDARD=LVCMOS25;
Net "rs232_rts" LOC = L27 | IOSTANDARD=LVCMOS25;
Net "rs232_cts" LOC = K23 | IOSTANDARD=LVCMOS25;
Net "rs232_dce_rxd" LOC = AB10  | IOSTANDARD=LVCMOS15; ## to use I/Os for character display
Net "rs232_dce_txd" LOC = Y11 | IOSTANDARD=LVCMOS15; ## to use I/Os for character display

Net "BTN_CENTER" LOC = G12  | IOSTANDARD = LVCMOS25;
Net "BTN_NORTH"  LOC = AA12 | IOSTANDARD = LVCMOS15;
Net "BTN_EAST"   LOC = AG5  | IOSTANDARD = LVCMOS15;
Net "BTN_WEST"   LOC = AB12 | IOSTANDARD = LVCMOS15;
Net "BTN_SOUTH"  LOC = AC6  | IOSTANDARD = LVCMOS15;
